<h1 class="heading" > {{title}} </h1>
<!-- <app-if-else-condition></app-if-else-condition> -->
<!-- <app-if-elseif-else-condition></app-if-elseif-else-condition> -->
<app-switch-case></app-switch-case>
<!-- below line is example of interpolation -->
<input type="text" name="username" value="{{name}}"  disabled='{{disabled}}' /> 
<!-- interpolation only accepts string or numerical value , it doesn't accept boolean value -->
<br>
<br>
<!-- below line is example of property binding -->
<input type="text" name="user" [value]=name [disabled]=disabled />


